body {
    margin: 0;
    font-family: Verdana;
    background-color: rgb(236, 87, 87);
}

#page-header{
    display: flex;
    justify-content: center;
    background: #f0b120;
    opacity: .9;
    height: 10rem;
    padding: 1rem;
}

#page-header img{
    height: 10rem;
    width: auto;
}

.anime-search {
    text-align: center;
  }
