body {
    margin: 0;
    font-family: Verdana;
    background-color: rgb(255, 255, 255);
}

.description {
    text-align: center;
}

#page-header{
    display: flex;
    justify-content: center;
    background: #60bfff;
    opacity: .9;
    height: 10rem;
    padding: 1rem;
}

#page-header img{
    height: 10rem;
    width: auto;
}

.anime-search {
    text-align: center;
  }
